# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
yarn-error.log
.idea

# assets, which are copied after build
server/public
server/views/index.html