.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-content {
  display: flex;
  justify-content: center;
}

.App-card {
  padding: 30px;
  max-width: 50%;
}

.submit-button {
  margin-left: 20px;
}

.toggle-checkbox {
  margin-right: 10px;
  position: relative;
  top: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
